<!doctype html>
<html>
<head>
	<% include includes/head %>
<script src="/javascripts/excel.js"></script>
<style>
.sticky 		{width: 100%;}
</style>
</head>
<body>
	<div class="expanded row">
	<% include includes/top_bar %>

		<div class="medium-8 large-10 medium-push-3 large-push-2 columns">
			<h3> Pagination </h3>
			<hr>
			<div class="callout secondary">
<div>
		<a class="button" id="ServerFile" href="/xlsx">XSLX from Server Side</button></a>
</div>
				<div class="tabs-content" data-tabs-content="example-tabs">
					<% for(var i in pages) { %>
						<% if(i === "0" ) { %> 
				  	<div class="tabs-panel is-active" id="page<%= i %>">
						<% } else { %>
				  	<div class="tabs-panel" id="page<%= i %>">
						<% } %>
							<table class="hover" id="myTable">
								  <thead>
								    <tr>
								      <th>Item</th>
								      <th>Seq</th>
								      <th>Table Header</th>
								      <th>Table Header</th>
								      <th>Table Header</th>
								      <th>Table Header</th>
								    </tr>
								  </thead>
								  <tbody>
										<% for(var j=0;j<pages[i].length;j++) {%>
											<tr>
												<% for(var k in pages[i][j]) { %>
													<td><%= pages[i][j][k] %></td>
												<% } %>
											</tr>	
										<% } %>
								
									</tbody>
							</table>
				  	</div>
					<% } %>
				</div>

				<ul class="pagination text-center" data-tabs id="example-tabs" role="navigation" aria-label="Pagination">
					<% for ( var i in pages) { %>
						<% if( i === "0" ) { %>
						<li class="tabs-title is-active"><a href="#page<%= i %>"> <%= i %></a></p>
						<% } else { %> 	
							<li class="tabs-title"><a href="#page<%= i %>"> <%= i %></a></p>
						<% } %>
					<% } %>
				</ul>

			</div>

			<hr>
		</div>
		<% include includes/sidemenu %>

	</div>
	<% include includes/foundation_init %>

	<script type="text/javascript">
		var output = <%- JSON.stringify(table) %>
		$(document).ready(function() {
			$("#ClientFile").click(function(){
				console.log("click");
			});
		});
	</script>

</body>
</html>

